<h1>Bonjour et bienvenue chez Velvet Record ! Veuillez confimer votre email</h1>

<p>
    Bonjour et Bienvenue chez Velvet Record !
    Pour valider votre inscription veuillez confirmer en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl }}">Je confirme mon email</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cordialement.
</p>
